.home {
  display: flex;
  align-items: center;
}

.home-details {
  margin: 0 auto;
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  width: 88%;
}

.home-details h2 {
  font-weight: 900;
}

.avatar.avatar-ex-large {
  height: 300px;
  width: 300px;
  box-shadow: 0 5px 13px rgba(50, 54, 59, 0.2) !important;
  background-color: #111;
  object-fit: cover;
}

.home-details p {
  margin: 10px 0 23px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Open Sans", "Roboto", sans-serif;
  width: 80%;
}

.background-border {
  position: relative;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.background-border::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translate3d(26px, 26px, -26px);
  border: 6px solid #ffb400;
}
