.title {
    opacity: .8;
    text-transform: capitalize;
}

.about-list .value {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-weight: 600;
}

.about-list li:not(:last-child) {
    padding-bottom: 20px;
}