.title-section {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}

.title-section h1 {
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.title-bg {
    font-size: 110px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}